<div class="pagging">
	<ul class="pagination justify-content-end">
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid" data-ci-pagination-page="1"
					rel="prev">&lt;</a></span></li>
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid" data-ci-pagination-page="1"
					rel="start">1</a></span></li>
		<li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span></li>
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid/3"
					data-ci-pagination-page="3">3</a></span></li>
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid/4"
					data-ci-pagination-page="4">4</a></span></li>
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid/3" data-ci-pagination-page="3"
					rel="next">&gt;</a><span aria-hidden="true"></span></span></li>
		<li class="page-item"><span class="page-link"><a
					href="http://php56.server.test/new_simantap/pendaftaran/ajax_grid/24248"
					data-ci-pagination-page="24248">Last &rsaquo;</a></span></li>
	</ul>
</div>
